---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      I am a full-stack software developer from Orange County, California.
    </p>

    <p class="text-sm font-light">My primary technologies of choice include:</p>
    <ul class="list-disc list-inside">
      <li>JavaScript/TypeScript</li>
      <li>Svelte</li>
      <li>Next.js</li>
      <li>Python</li>
      <li>Astro</li>
      <li>React</li>
      <li>Nodejs</li>
      <li>Linux</li>
    </ul>
    <p class="text-sm font-light">
      While I do have preferred technologies I like to use, I strive to choose
      the best tool for the job, even if it's not in my list. My goal is always
      to find the right solution for each project.
    </p>
  </div>
</Card>
