---
import Card from "./Card/index.astro";
import Technologies from "./Technologies.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm f-light">
      Fullstack software developer from Orange County, CA.
    </p>

    <Technologies />

    <p class="text-sm f-light">
      While I do have preferred technologies I like to use, I strive to choose
      the best tool for the job, even if it's not in my list. My goal is always
      to find the right solution for each project.
    </p>
  </div>
</Card>
