---
// interface Props {
//   rounded?: boolean;
// }

// const { rounded } = Astro.props;
import { Icon } from "astro-icon/components";
---

<script>
  function customBack() {
    const homePage = "/"; // Define the home page URL
    const previousURL = document.referrer; // Gets the URL of the previous page

    // Check if the previous URL is the home page
    if (previousURL.includes(homePage)) {
      window.location.href = homePage; // Navigate with reload
    } else {
      history.back(); // Use the standard back navigation
    }
  }
</script>

<div
  transition:animate="none"
  class="sticky top-0 w-full max-w-xl mx-auto px-2 bg-darkslate-700 z-50 border-b border-b-[0.1px] border-gray-500"
>
  <div class="mx-auto">
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-2">
        <a
          href="javascript:window.location.href='/'"
          class="group py-2 flex items-center justify-center px-4 border border-gray-500 rounded text-neutral-100"
        >
          <Icon
            name="mdi:home"
            class="w-5 h-5 inline-block md:group-hover:scale-110 transition-all duration-100"
          />
        </a>

        <a
          href="/now"
          class="group py-2 flex items-center justify-center px-4 border border-gray-500 rounded text-neutral-100"
        >
          <Icon
            name="carbon:blog"
            class="w-5 h-5 inline-block md:group-hover:scale-110 transition-all duration-100"
          />
        </a>

        <a
          href="/projects"
          class="group py-2 flex items-center justify-center px-4 border border-gray-500 rounded text-neutral-100"
        >
          <Icon
            name="material-symbols:code"
            class="w-5 h-5 inline-block md:group-hover:scale-110 transition-all duration-100"
          />
        </a>
      </div>

      <div class="p-4">
        <a
          href="javascript:history.back()"
          class="hidden text-lg flex items-center gap-1 group text-neutral-100 no-underline hover:no-underline hover:text-neutral-200 transition-all duration-300"
        >
          <Icon
            name="mdi:arrow-left"
            class="w-5 h-5 inline-block md:group-hover:-translate-x-1 transition-all duration-300"
          />
          <div>back</div>
        </a>
      </div>
    </div>
  </div>
</div>
