---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
import { getCollection } from "astro:content";

// Fetch and filter posts that are in the 'now' category
const allPosts = await getCollection("posts");
const nowPosts = allPosts.filter((post) => post.data.category === "now");

// Sort these posts by date in descending order
nowPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);

// Take the first item from the sorted array as the most recent post
const mostRecentNowPost = nowPosts[0] || null; // This ensures there is a fallback if no posts are found
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="group">
    <div class="flex justify-between w-full items-start mb-2">
      <div class="flex flex-col w-full">
        <a href="/now" class="text-white text-xl f-bold w-full">Now</a>
        <a href="https://sive.rs/nowff" target="_blank">
          <span
            class="hover:text-purple-500 text-sm text-neutral-100/50 cursor-pointer"
            >What is "Now"?</span
          >
        </a>
      </div>
      <div class="md:group-hover:scale-150 transition-all duration-300">
        <Pulse />
      </div>
    </div>
    <div class="line-clamp-3">
      {
        mostRecentNowPost ? (
          <a
            href={`/${mostRecentNowPost.data.category}/${mostRecentNowPost.slug || "#default"}`}
            target=""
            rel="noopener noreferrer"
            class="text-neutral-100 md:text-neutral-100/70 text-sm f-light group/newPost transition-colors duration-300"
          >
            <div class="f-bold text-neutral-100">
              {mostRecentNowPost.data.title}
            </div>

            <div class="md:group-hover/newPost:text-neutral-100">
              {mostRecentNowPost.data.description}"
            </div>
          </a>
        ) : (
          <p>No recent posts in 'Now' category.</p>
        )
      }
    </div>
  </div>
</Card>
