---
import { getCollection } from "astro:content";
import PostFeedLayout from "../../layouts/PostFeedLayout.astro";
import PostItem from "../../components/Post/PostItemV2.astro";
import "../../styles/global.css";
import { Icon } from "astro-icon/components";

const posts = (await getCollection("posts"))?.sort(
  (blogEntryA, blogEntryB) =>
    (blogEntryB.data.pubDate || new Date()).getTime() -
    (blogEntryA.data.pubDate || new Date()).getTime()
);
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../../lib/constants";

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<PostFeedLayout title="engage-bento: projects" description="">
  <div
    class="w-screen h-full flex flex-col justify-start items-start max-w-xl mx-auto p-2 md:py-5"
  >
    <div class="h-full"></div>
    <h1 class="text-5xl f-bold mb-2 text-neutral-100 flex gap-2 items-center">
      <div>Projects</div>
      <Icon name="material-symbols:dashboard-outline" class="w-12 h-12" />
    </h1>

    <div class="f-light mb-4 text-neutral-100/50">
      <span class="">
        {
          JSON.stringify(
            posts?.filter((post) => post.data.category === "projects").length
          )
        }
      </span>
      Personal projects and experiments
    </div>

    <div class="w-full">
      <ul class="">
        {
          posts
            ?.filter((post) => post.data.category === "projects")
            .map((post) => (
              <PostItem
                title={post.data.title || "No title"}
                description={post.data.description || "No description"}
                date={post.data.pubDate || new Date()}
                url={post.slug}
                category={post.data.category || "No category"}
                tags={post.data.tags || []}
                image={post.data.image || ""}
              />
            ))
        }
      </ul>
    </div>
  </div>
</PostFeedLayout>
