---
import BasicLayout from "./BasicLayout.astro";
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  description: string;
  page?: "travel";
  fullScreen?: string;
}

const { title, description, page, fullScreen } = Astro.props;
---

<BasicLayout title={title} description={description}>
  <div
    slot="loader"
    class="loader bg-darkslate-700 text-neutral-50 text-3xl font-black uppercase flex justify-center items-center w-screen h-screen z-50 fixed top-0 bottom-0 right-0 left-0"
  >
  </div>
  <div class="sticky top-0 w-full max-w-xl mx-auto px-2 bg-darkslate-700">
    <div class="mx-auto">
      <div class="flex justify-between items-center">
        <div class="flex items-center gap-2">
          <a
            href="/"
            class="py-2 flex items-center justify-center px-4 border border-gray-500 rounded text-neutral-100"
          >
            <Icon name="mdi:home" class="w-5 h-5 inline-block" />
          </a>
          <a
            href="/projects"
            class="py-2 flex items-center justify-center px-4 border border-gray-500 rounded text-neutral-100"
          >
            <Icon name="material-symbols:code" class="w-5 h-5 inline-block" />
          </a>

          <a
            href="/now"
            class="py-2 flex items-center justify-center px-4 border border-gray-500 rounded text-neutral-100"
          >
            <Icon name="carbon:blog" class="w-5 h-5 inline-block" />
          </a>
        </div>

        <div class="text-lg font-bold text-neutral-100 p-4">
          <a
            href="javascript:history.back()"
            class="flex items-center gap-1 group"
          >
            <Icon
              name="mdi:arrow-left"
              class="w-5 h-5 inline-block md:group-hover:-translate-x-1 transition-all duration-300"
            />
            <div>back</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="h-full">
    <slot />
  </div>
</BasicLayout>
